<!-- component -->
<div class="flex flex-wrap -mx-3 mb-5">
  <div class="w-full max-w-full px-3 mb-6  mx-auto">
    <div
      class="relative flex-[1_auto] flex flex-col break-words min-w-0 bg-clip-border rounded-[.95rem] border border-dashed border-stone-200 bg-white m-5">
      <!-- card body  -->
      <div class="flex-auto block py-8 px-9">
        <div>
          <div class="mb-9">
            <h1 class="mb-2 text-[1.75rem] font-semibold text-dark">Informacion relevante</h1>
            <span class="text-[1.15rem] font-medium text-muted">Informacion relevante para conocimiento de todo el Staff
              Trepadores Quindio - Copa 5 - Genova 2024</span>
          </div>
          <div class="flex flex-wrap w-full">

            <div class="flex flex-col mr-5 text-center mb-11 lg:mr-16">
              <div class="inline-block mb-4 relative shrink-0 rounded-[.95rem]">
                <img class="inline-block shrink-0 rounded-[.95rem] w-[80px] h-[80px]"
                  src="https://cdn0.iconfinder.com/data/icons/medical-solid-take-care-of-yourself/512/Ambulance-512.png"
                  alt="avarat image">
              </div>
              <div class="text-center">
                <a href="javascript:void(0)"
                  class="text-dark font-semibold hover:text-primary text-[1.25rem] transition-colors duration-200 ease-in-out">***</a>
                <span class="block font-medium text-muted">Paramedicos en pista</span>
              </div>
            </div>

            <div class="flex flex-col mr-5 text-center mb-11 lg:mr-16">
              <div class="inline-block mb-4 relative shrink-0 rounded-[.95rem]">
                <img class="inline-block shrink-0 rounded-[.95rem] w-[80px] h-[80px]"
                  src="https://cdn3.iconfinder.com/data/icons/font-awesome-solid/512/fire-extinguisher-256.png"
                  alt="fireman image">
              </div>
              <div class="text-center">
                <a href="javascript:void(0)"
                  class="text-dark font-semibold hover:text-primary text-[1.25rem] transition-colors duration-200 ease-in-out">Bomberos</a>
                <span class="block font-medium text-muted">Cuerpo de bomberos Genova</span>
              </div>
            </div>

            <div class="flex flex-col mr-5 text-center mb-11 lg:mr-16">
              <div class="inline-block mb-4 relative shrink-0 rounded-[.95rem]">
                <img class="inline-block shrink-0 rounded-[.95rem] w-[80px] h-[80px]"
                  src="https://cdn4.iconfinder.com/data/icons/coronavirus/64/hospital-building-nursing-healthcare-medical-512.png"
                  alt="Hospital image">
              </div>
              <div class="text-center">
                <a href="javascript:void(0)"
                  class="text-dark font-semibold hover:text-primary text-[1.25rem] transition-colors duration-200 ease-in-out">Hospital</a>
                <span class="block font-medium text-muted">Centro
                  hospitalario Genova</span>
              </div>
            </div>
            <div class="flex flex-col mr-5 text-center mb-11 lg:mr-16">
              <div class="inline-block mb-4 relative shrink-0 rounded-[.95rem]">
                <img class="inline-block shrink-0 rounded-[.95rem] w-[80px] h-[80px]"
                  src="https://cdn4.iconfinder.com/data/icons/tabler-vol-2/24/car-crane-256.png" alt="tow image">
              </div>
              <div class="text-center">
                <a href="javascript:void(0)"
                  class="text-dark font-semibold hover:text-primary text-[1.25rem] transition-colors duration-200 ease-in-out">Grua</a>
                <span class="block font-medium text-muted">Cama baja en pista</span>
              </div>
            </div>

            <div class="flex flex-col mr-5 text-center mb-11 lg:mr-16">
              <div class="inline-block mb-4 relative shrink-0 rounded-[.95rem]">
                <img class="inline-block shrink-0 rounded-[.95rem] w-[80px] h-[80px]"
                  src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/12.File-256.png" alt="avarat image">
              </div>
              <div class="text-center">
                <a href="javascript:void(0)"
                  class="text-dark font-semibold hover:text-primary text-[1.25rem] transition-colors duration-200 ease-in-out">Reglamento</a>
                <span class="block font-medium text-muted">Reglamento Genova 2024</span>
              </div>
            </div>
            <div class="flex flex-col mr-5 text-center mb-11 lg:mr-16">
              <div class="inline-block mb-4 relative shrink-0 rounded-[.95rem]">
                <img class="inline-block shrink-0 rounded-[.95rem] w-[80px] h-[80px]"
                  src="https://cdn3.iconfinder.com/data/icons/streamline-icon-set-free-pack/48/Streamline-72-256.png"
                  alt="avarat image">
              </div>
              <div class="text-center">
                <a href="javascript:void(0)"
                  class="text-dark font-semibold hover:text-primary text-[1.25rem] transition-colors duration-200 ease-in-out">Horarios</a>
                <span class="block font-medium text-muted">Horarios de cierr y apertura de la via</span>
              </div>
            </div>
            <div class="flex flex-col mr-5 text-center mb-11 lg:mr-16">
              <div class="inline-block mb-4 relative shrink-0 rounded-[.95rem]">
                <img class="inline-block shrink-0 rounded-[.95rem] w-[80px] h-[80px]"
                  src="https://cdn2.iconfinder.com/data/icons/boxicons-solid-vol-1/24/bxs-contact-256.png"
                  alt="avarat image">
              </div>
              <div class="text-center">
                <a href="javascript:void(0)"
                  class="text-dark font-semibold hover:text-primary text-[1.25rem] transition-colors duration-200 ease-in-out">Jefe
                  de transito</a>
                <span class="block font-medium text-muted">Contacto de whatsapp</span>
              </div>
            </div>
            <div class="flex flex-col mr-5 text-center mb-11 lg:mr-16">
              <div class="inline-block mb-4 relative shrink-0 rounded-[.95rem]">
                <img class="inline-block shrink-0 rounded-[.95rem] w-[80px] h-[80px]"
                  src="https://cdn2.iconfinder.com/data/icons/boxicons-solid-vol-1/24/bxs-contact-256.png"
                  alt="avarat image">
              </div>
              <div class="text-center">
                <a href="javascript:void(0)"
                  class="text-dark font-semibold hover:text-primary text-[1.25rem] transition-colors duration-200 ease-in-out">Jefe
                  de staff</a>
                <span class="block font-medium text-muted">Contacto de whatsapp</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-wrap -mx-3 mb-5">
  <div class="w-full max-w-full sm:w-3/4 mx-auto text-center">
    <p class="text-sm text-slate-500 py-1"> Sitio construido por <a
        href="https://www.loopple.com/theme/riva-dashboard-tailwind?ref=tailwindcomponents"
        class="text-slate-700 hover:text-slate-900" target="_blank">Chips.cm</a> para el uso de <a
        href="https://www.loopple.com" class="text-slate-700 hover:text-slate-900" target="_blank">Chips safty</a>
    </p>
  </div>
</div>