@if(!showForm){
<!-- Formulario de competidor -->
<h2>Registro de competidor</h2>

<form [formGroup]="formCompetitor">

  <!-- Numero de competidor -->
  <div class="mb-3 pt-3">
    <label for="competitorNum" class="form-label">Número de competidor</label>
    <input type="text" id="competitorNum" formControlName="competitorNum" class="form-control form-control-sm"
      [style.width.%]="25"
      [ngClass]="{'is-invalid': competitorNum?.invalid && (competitorNum?.dirty || competitorNum?.touched)}">

    @if (competitorNum?.invalid && (competitorNum?.dirty || competitorNum?.touched)) {
    <div class="invalid-feedback">
      @if (competitorNum?.errors?.['required']) { <div>El número de competidor es obligatorio.</div> }
      @if ( competitorNum?.errors?.['minlength']||competitorNum?.errors?.['maxlength']) { <div>El número de competidor
        debe tener 3 caracteres.</div> }
      @if(competitorNum?.errors?.['competitorExists']){
      <div>El numero de competidor ya fue registrado.</div>
      }
    </div>
    }
  </div>

  <!-- Nombre -->
  <div class="mb-3">
    <label for="name" class="form-label">Nombre</label>
    <input type="text" id="name" formControlName="name" class="form-control"
      [ngClass]="{'is-invalid': name?.invalid && (name?.dirty || name?.touched)}">
    @if (name?.invalid && (name?.dirty || name?.touched)) {
    <div class="invalid-feedback">
      @if (name?.errors?.['required']) { <div>El nombre es obligatorio.</div> }
      @if (name?.errors?.['minlength']) { <div>El nombre debe tener al menos 3 caracteres.</div> }
    </div>
    }
  </div>

  <!-- Apellido -->
  <div class="mb-3">
    <label for="lastname" class="form-label">Apellido</label>
    <input type="text" id="lastname" formControlName="lastname" class="form-control"
      [ngClass]="{'is-invalid': lastname?.invalid && (lastname?.dirty || lastname?.touched)}">
    @if (lastname?.invalid && (lastname?.dirty || lastname?.touched)) {
    <div class="invalid-feedback">
      @if (lastname?.errors?.['required']) { <div>El apellido es obligatorio.</div> }
      @if (lastname?.errors?.['minlength']) { <div>El apellido debe tener al menos 3 caracteres.</div> }
    </div>
    }
  </div>

  <!-- Tipo de Sangre -->
  <div class="mb-3">
    <label for="rh" class="form-label">Tipo de Sangre</label>
    <select id="rh" formControlName="rh" class="form-select form-select-sm" [style.width.%]="50"
      [ngClass]="{'is-invalid': rh?.invalid && (rh?.dirty || rh?.touched)}">
      <option value="" disabled selected>Selecciona tu RH</option>
      <option *ngFor="let type of bloodTypes" [value]="type">{{ type }}</option>
    </select>
    @if (rh?.invalid && (rh?.dirty || rh?.touched)) {
    <div class="invalid-feedback">
      <div *ngIf="rh?.errors?.['required']">El tipo de sangre es obligatorio.</div>
    </div>
    }
  </div>

  <!-- eps -->
  <div class="mb-3">
    <label for="eps" class="form-label">EPS</label>
    <input type="text" id="eps" formControlName="eps" class="form-control"
      [ngClass]="{'is-invalid': eps?.invalid && (eps?.dirty || eps?.touched)}">
    @if (eps?.invalid && (eps?.dirty || eps?.touched)) {
    <div class="invalid-feedback">
      @if (eps?.errors?.['required']) { <div>La EPS es obligatoria.</div> }
      @if (eps?.errors?.['minlength']) { <div>El EPS debe tener al menos 3 caracteres.</div> }
    </div>
    }
  </div>


  <!-- Contacts -->
  <div formArrayName="contacts">
    <div *ngFor="let contact of contactControls; let i = index" [formGroupName]="i">
      <label for="info" class="form-label">Contacto {{i + 1}} en caso de emergencia</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="info">
          <img src="img/colombia-flag.png" alt="Colombia" style="width: 18px; height: 18px; margin-right: 2px;">
          +57
        </span>
        <input type="text" id="info" formControlName="info" aria-describedby="info" class="form-control"
          placeholder="Numero de Whatsapp"
          [ngClass]="{'is-invalid': contact.get('info')?.invalid && (contact.get('info')?.dirty || contact.get('info')?.touched)}">
        @if (contact.get('info')?.invalid && (contact.get('info')?.dirty || contact.get('info')?.touched)) {
        <div class="invalid-feedback">
          @if (contact.get('info')?.errors?.['required']) { <div>El contacto es obligatorio.</div> }
          @if (contact.get('info')?.errors?.['minlength'] || contact.get('info')?.errors?.['maxlength']) { <div>El
            numero
            debe tener 10
            caracteres.
          </div> }
        </div>
        }
      </div>
      <!-- Parentesco con el contacto -->
      <div class="mb-3">
        <label for="reference" class="form-label">Parentesco</label>
        <input type="text" id="reference" formControlName="reference" class="form-control"
          placeholder="Esposa, Hijo, Hermano, etc."
          [ngClass]="{'is-invalid': contact.get('reference')?.invalid && (contact.get('reference')?.dirty || contact.get('reference')?.touched)}">
        @if (contact.get('reference')?.invalid && (contact.get('reference')?.dirty ||
        contact.get('reference')?.touched))
        {
        <div class="invalid-feedback">
          @if (contact.get('reference')?.errors?.['required']) { <div>El Parentesco con el contacto es obligatorio</div>
          }
          @if (contact.get('reference')?.errors?.['minlength']) { <div>El parentesco debe tener al menos 3 caracteres.
          </div> }
        </div>
        }
      </div>
      @if(i < 1){ <button type="button" class="btn btn-secondary btn-sm mb-3" (click)="addContact()">Agregar otro
        contacto</button>
        }@else {
        <button type="button" class="btn btn-danger btn-sm mb-3" (click)="removeContact(i)">Eliminar contacto
          {{i+1}}</button>
        }


    </div>



  </div>


  <!-- Allergies -->
  <div formArrayName="allergies">
    <div *ngFor="let allergie of allergieControls; let i = index" [formGroupName]="i">
      <!-- Parentesco con el contacto -->
      <div class="mb-3">
        <label for="info" class="form-label">Alergia {{i + 1}}</label>
        <input type="text" id="info" formControlName="info" class="form-control"
          [ngClass]="{'is-invalid': allergie.get('info')?.invalid && (allergie.get('info')?.dirty || allergie.get('info')?.touched)}">
        @if (allergie.get('info')?.invalid && (allergie.get('info')?.dirty ||
        allergie.get('info')?.touched))
        {
        <div class="invalid-feedback">
        </div>
        }
      </div>
      <button *ngIf="i > 0" type="button" class="btn btn-danger btn-sm mb-3" (click)="removeAllergie(i)">Eliminar
        alergia {{i+1}}</button>
    </div>
    <button type="button" class="btn btn-secondary btn-sm mb-3" (click)="addAllergie()">Agregar otra alergia</button>
  </div>


  <!-- Imagen -->
  <div class="mb-3">
    <label for="imageCompetitor" class="form-label">Imagen del piloto</label>
    <div class="input-group mb-3">
      <input type="file" class="form-control" id="inputGroupFile02" (change)="onFileSelected($event, 'competitor')">
      <label class="input-group-text" for="inputGroupFile02">Subir</label>
    </div>
  </div>
  <div class="mb-3 text-end">
    <button class="btn btn-primary" [disabled]="formCompetitor.invalid" (click)="showForm = true">Continuar</button>
  </div>
</form>
}@else {

<!-- Formulario de vehiculo -->
<h2>Registro de vehiculo</h2>
<form [formGroup]="formVehicle" (ngSubmit)="onSubmit()" novalidate>

  <!-- Marca y referencia del vehiculo -->
  <div class="mb-3 pt-3">
    <label for="vehicleReference" class="form-label">Marca y referencia</label>
    <input type="text" id="vehicleReference" formControlName="vehicleReference" class="form-control"
      [ngClass]="{'is-invalid': vehicleReference?.invalid && (vehicleReference?.dirty || vehicleReference?.touched)}">
    @if (vehicleReference?.invalid && (vehicleReference?.dirty || vehicleReference?.touched)) {
    <div class="invalid-feedback">
      @if (vehicleReference?.errors?.['required']) { <div>La referencia es obligatoria.</div> }
      @if (vehicleReference?.errors?.['minlength']) { <div>La referencia debe tener al menos 3 caracteres.</div> }
    </div>
    }
  </div>

  <!-- Placa del vehiculo -->
  <div class="mb-3 ">
    <label for="plate" class="form-label">Placa del vehiculo</label>
    <input type="text" id="plate" formControlName="plate" class="form-control form-control-sm" [style.width.%]="40"
      [ngClass]="{'is-invalid': plate?.invalid && (plate?.dirty || plate?.touched)}">
    @if (plate?.invalid && (plate?.dirty || plate?.touched)) {
    <div class="invalid-feedback">
      @if ( plate?.errors?.['maxlength']) { <div>El numero de competidor debe tener maximo 6 caracteres.</div>
      }
    </div>
    }
  </div>

  <!-- Numero de poliza de SOAT -->
  <div class="mb-3">
    <label for="numberPolicySoat" class="form-label">Numero de poliza SOAT vigente</label>
    <input type="text" id="numberPolicySoat" formControlName="numberPolicySoat" class="form-control"
      [style.width.%]="50"
      [ngClass]="{'is-invalid': numberPolicySoat?.invalid && (numberPolicySoat?.dirty || numberPolicySoat?.touched)}">
  </div>

  <!-- Numero de certificado RTM -->
  <div class="mb-3">
    <label for="certificateNumberRTM" class="form-label">Numero de certificado RTM vigente</label>
    <input type="text" id="certificateNumberRTM" formControlName="certificateNumberRTM" class="form-control"
      [style.width.%]="50"
      [ngClass]="{'is-invalid': certificateNumberRTM?.invalid && (certificateNumberRTM?.dirty || certificateNumberRTM?.touched)}">
  </div>

  <!-- Seguro todo riesgo -->
  <label for="allRisk" class="form-label">Seguro todo riesgo</label>
  <div class="mb-3">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="allRiskRadioOptions" id="allRiskRadio1" value=0
        [checked]="allRisk === 0" (change)="onAllRiskChange($event)">
      <label class="form-check-label" for="inlineRadio1">No tiene</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="allRiskRadioOptions" id="allRiskRadio2" value=1
        [checked]="allRisk === 1" (change)="onAllRiskChange($event)">
      <label class="form-check-label" for="inlineRadio2">Si tiene</label>
    </div>
  </div>

  <!-- Imagen del vehiculo-->
  <div class="mb-3">
    <label for="imageVehicle" class="form-label">Imagen del vehiculo</label>
    <div class="input-group mb-3">
      <input type="file" class="form-control" id="inputGroupFile02" (change)="onFileSelected($event, 'vehicle')">
      <label class="input-group-text" for="inputGroupFile02">Subir</label>

    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-4">
      <button class="btn btn-secondary" type="button" (click)="showForm = false">Regresar</button>
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-success" [disabled]="formVehicle.invalid">Guardar</button>
    </div>
  </div>
</form>
}
