@if(vehicle){

<div class="row p-3">
  <div class="col">
    Referencia del vehiculo: <b>{{vehicle.vehicle_reference}}</b>
  </div>
</div>

<div class="row p-3">
  <div class="col">
    Placa: <b>{{vehicle.plate ? vehicle.plate : "No aplica"}}</b>
  </div>
</div>

<div class="row p-3">
  <div class="col ">
    <p class="d-inline-flex gap-1">
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Documentos del vehículo
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div>
        <ul class="list-group p-3">
          <li class="list-group-item">Numero de poliza SOAT:
            <b>{{vehicle.number_policy_soat ? vehicle.number_policy_soat :
              "No registrado" }}</b>
          </li>
          <li class="list-group-item">Numero de certificado RTM: <b>{{vehicle.certificate_number_rtm ?
              vehicle.certificate_number_rtm : "No registrado"}}</b></li>
          <li class="list-group-item">Seguro todo riesgo: <b>{{vehicle.all_risk == true ? "Aplica" : "No aplica"}}</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container text-center">

  <div class="row p-2">
    <a [class.btn-not-active]="!hasAlcoholTest()" [href]="getAlcoholTestUrl()" target="_blank"
      class="btn btn-primary rounded-pill p-2 d-flex align-items-center justify-content-center" role="button">
      <!-- Logo alcocholemia -->
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 64 64" fill="none" stroke="#ffffff"
        stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
        <g data-name="Layer 6" id="Layer_6">
          <circle cx="32" cy="32" r="30" />
          <path d="M45,42l6.82,6.82A26,26,0,0,0,15.18,12.18L45,42" />
          <path d="M12.18,15.18A26,26,0,0,0,48.82,51.82Z" />
          <polyline points="39 36 39 28 35 24 35 13 29 13 29 24 28 25" />
          <polyline points="25 28 25 51 39 51 39 42" />
          <line x1="29" y1="19" x2="35" y2="19" />
          <line x1="39" y1="45" x2="25" y2="45" />
          <line x1="36" y1="33" x2="39" y2="33" />
          <line x1="30" y1="33" x2="25" y2="33" />
        </g>
      </svg>
      <span class="ms-2">Ver constancia alcoholemia</span>
    </a>
  </div>
  <div class="row p-2">
    <a [class.btn-not-active]="!hasRTMTest()" [href]="getRtmTestUrl()" target=" _blank"
      class="btn btn-primary rounded-pill p-2 d-flex align-items-center justify-content-center" role="button">
      <!-- Logo turbo RTM -->
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#ffffff"
        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-car-turbine">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M11 13m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
        <path d="M18.86 11c.088 .66 .14 1.512 .14 2a8 8 0 1 1 -8 -8h6" />
        <path d="M11 9c2.489 .108 4.489 .108 6 0" />
        <path d="M17 3m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" />
        <path d="M11 13l-3.5 -1.5" />
        <path d="M11 13l2.5 3" />
        <path d="M8.5 16l2.5 -3" />
        <path d="M11 13l3.5 -1.5" />
        <path d="M11 9v4" />
      </svg>
      <span class="ms-2">Ver constancia RTM</span>
    </a>
  </div>

</div>

}@else{
<div class="text-center bg-danger rounded m-3 p-2">
  <h1>Vino a pata</h1>
  <h3>(No tenemos registro de su vehiculo)</h3>
</div>
}