<!-- list-competitors.component.html -->
<div>
  <h2>Lista de Competidores</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Links</th>

      </tr>
    </thead>
    <tbody>
      @for(competitor of competitors; track competitor){
      <tr>
        <th scope="row">{{ competitor.competitor_num }}</th>
        <td>{{ competitor.name }}</td>
        <td>

          <div class="btn-group">
            <a [href]="'/' + competitor.competitor_num" target="_blank" type="button" class="btn btn-primary">Ver
              información</a>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
              data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu">
              @if(true){
              <li><a href="#" class="dropdown-item">
                  <!-- Logo alcocholemia -->
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 64 64" fill="none"
                    stroke="#008000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <g data-name="Layer 6" id="Layer_6">
                      <circle cx="32" cy="32" r="30" />
                      <path d="M45,42l6.82,6.82A26,26,0,0,0,15.18,12.18L45,42" />
                      <path d="M12.18,15.18A26,26,0,0,0,48.82,51.82Z" />
                      <polyline points="39 36 39 28 35 24 35 13 29 13 29 24 28 25" />
                      <polyline points="25 28 25 51 39 51 39 42" />
                      <line x1="29" y1="19" x2="35" y2="19" />
                      <line x1="39" y1="45" x2="25" y2="45" />
                      <line x1="36" y1="33" x2="39" y2="33" />
                      <line x1="30" y1="33" x2="25" y2="33" />
                    </g>
                  </svg>
                  Ver prueba alcoholemia</a></li>
              }@else{
              <li><a class="dropdown-item" href="#">
                  <!-- Logo alcocholemia -->
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 64 64" fill="none"
                    stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <g data-name="Layer 6" id="Layer_6">
                      <circle cx="32" cy="32" r="30" />
                      <path d="M45,42l6.82,6.82A26,26,0,0,0,15.18,12.18L45,42" />
                      <path d="M12.18,15.18A26,26,0,0,0,48.82,51.82Z" />
                      <polyline points="39 36 39 28 35 24 35 13 29 13 29 24 28 25" />
                      <polyline points="25 28 25 51 39 51 39 42" />
                      <line x1="29" y1="19" x2="35" y2="19" />
                      <line x1="39" y1="45" x2="25" y2="45" />
                      <line x1="36" y1="33" x2="39" y2="33" />
                      <line x1="30" y1="33" x2="25" y2="33" />
                    </g>
                  </svg>

                  Subir prueba de alcoholemia</a></li>
              }
              <li>
                <hr class="dropdown-divider">
              </li>
              @if(true){
              <li><a class="dropdown-item " href="#">
                  <!-- Logo turbo RTM -->
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                    stroke="#008000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-car-turbine">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M11 13m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                    <path d="M18.86 11c.088 .66 .14 1.512 .14 2a8 8 0 1 1 -8 -8h6" />
                    <path d="M11 9c2.489 .108 4.489 .108 6 0" />
                    <path d="M17 3m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" />
                    <path d="M11 13l-3.5 -1.5" />
                    <path d="M11 13l2.5 3" />
                    <path d="M8.5 16l2.5 -3" />
                    <path d="M11 13l3.5 -1.5" />
                    <path d="M11 9v4" />
                  </svg>
                  Ver constancia RTM</a></li>
              }@else {
              <li><a class="dropdown-item " href="#">
                  <!-- Logo turbo RTM -->
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                    stroke="#FF0000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-car-turbine">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M11 13m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                    <path d="M18.86 11c.088 .66 .14 1.512 .14 2a8 8 0 1 1 -8 -8h6" />
                    <path d="M11 9c2.489 .108 4.489 .108 6 0" />
                    <path d="M17 3m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" />
                    <path d="M11 13l-3.5 -1.5" />
                    <path d="M11 13l2.5 3" />
                    <path d="M8.5 16l2.5 -3" />
                    <path d="M11 13l3.5 -1.5" />
                    <path d="M11 9v4" />
                  </svg>
                  Subir constancia RTM</a></li>
              }
            </ul>
          </div>
        </td>
      </tr>
      }
  </table>
  <ul>



  </ul>
</div>